MONGODB_URI="MONGODB URI"
JWT_SECRET="JWT SECRET"
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_USERNAME="default"
REDIS_PASSWORD=""

RABBITMQ_HOST="localhost"
RABBITMQ_PORT="5672"
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_VHOST="/"
RABBITMQ_SSL="false"
